@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Poppins:wght@100;200;300;400;500;600&display=swap');
/*font-family: 'Poppins', sans-serif;
font-family: 'Monoton', cursive;*/

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
body{
    overflow-x: hidden;
    background-color: var(--backgroundColor);
}

:root{
    --borderRadius:10px;
    --backgroundColor:#082a3b;
    --textWidthHeading:600;
    --headingfontSize:2.5rem;
    --headingTextColor:#fff;
    --normalfontSize:1.2rem;
    --normaltextColor:#eee;
    --buttonBackground:none;
    --buttonColor:#ddef91;
    --alternateColor:#952929;
}

/*Header*/

.Header-home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    width: 100vw;
}
.nav .link{
    display: flex;
}
.nav ul{
    list-style: none;
} 
.img-one{
    width: 50px;
    height: auto;
    transition: all 1s;
}
.img-one:hover{
    scale: 2;
    transform: rotate(360deg);
    transition: all 1s;
    cursor: pointer;
}
.link a{
    margin: 1rem;
    color: #000;
    font-size: var(--normalfontSize);
    color: var(--headingTextColor);
    font-weight: 600;
}
.link a:hover{
    color: var(--alternateColor);
}
.logo{
    font-size: 5rem;
    font-family: 'Monoton', cursive;
    font-weight: var(--textWidthHeading);
    color: var(--alternateColor);
}
.logo span{
    font-size: 1.5rem;
    color: #fff;
}



/*main (home)*/




.main-home{
    width: 100vw;
    height: 98vh;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
    padding:5rem;
}
.section-about{
    width: 100%;
    height: auto
}
.section-about h2{
    font-size: var(--headingfontSize);
    color: var(--headingTextColor);
    font-weight: var(--textWidthHeading);
}
.myself{
    color: var(--normaltextColor);
    font-weight: 200;
}
.ordered{
    color: var(--headingTextColor);
    font-weight: var(--textWidthHeading);
    margin:  1rem;
}
.unordered{
    list-style:disc;
    color: var(--normaltextColor);
    font-weight: 200;
    margin: 0 1rem;
}

.section-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5rem;
    
}
.btn{
    width: 220px;
    height: auto;
    font-size: 1.8em;
    text-align: center;
    border-radius: var(--borderRadius);
    background-color: var(--backgroundColor);
    font-weight: 600;
    border: 2px solid  var(--alternateColor);
    padding: 2%;
    box-shadow: .1rem .2rem .1rem var(--alternateColor);
    color: var(--alternateColor);
}
.btn span{
    font-family: 'Monoton', cursive;
}
.section-image .btn:hover{
    cursor: pointer;
}
.tu{
    position: relative;
}
.img-two{
    width: 450px;
    height: 450px;
    border-radius: 50%;
    object-fit:cover;
}
.re{
    width: 65px;
    padding:.7rem;
    background-color: var(--backgroundColor);
    border-radius: 50%;
    position: absolute;
    bottom: 10%;
    right: 5%;
    color: #fff;
    transition: all 1.5s;
}
.re:hover{
    scale: 4.5;
    transform: rotate(360deg);
    transition: all 1s;
    cursor: pointer;
}

/*Footer */

.footer{
    background-color:#06212e;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center;
}
.copy{
   font-size: var(--normalfontSize);
   color: var(--headingTextColor);
   display: flex;
   align-items: center;
}
.socials{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.socials a{
    margin: 1rem;
    font-size: 1.5rem;
    color: #fff;
    width: 50px;
    height: 50px;
    padding: .5rem;
    border-radius:5px;
   
}
.tw{
    color: rgb(70, 70, 238);
}
.wa{
    color: rgb(85, 189, 85);
}




/*Contact page*/





.main-contact{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: var(--headingTextColor);
    align-items: center;
    justify-content: center;
}
.contact-container{
     width: 60vw;
     height: 60%;
     display: flex;
     box-shadow: 0 3rem 7rem rgba(0, 0, 0, .2);
     border-radius: 10px;
}
.contact-left{
    width: 35%;
    background:linear-gradient(rgba(10,10,10,.5),rgba(10,10,10,.9))
    ,url(img/sushi.jpg) center no-repeat;
    background-size:cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.contact-right{
    position: relative;
    width: 65%;
    background-color: var(--headingTextColor);
    padding: 2rem 10rem;
}
.contact-heading{
    color: var(--alternateColor);
    font-weight: 600;
    font-family: 'Monoton', cursive;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2rem;
}
.contact-right form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.enter{
    width: 30rem;
    background-color:transparent;
    border: none;
    border-bottom: .1rem dashed var(--alternateColor);
    margin: 1rem 0;
    padding: .5rem .5rem .5rem 0;
    font-size:.9rem;
    opacity: .8;
}
.enter:focus{
    border-bottom-style: solid;
}
.input-list{
    position: relative;
}
.input-list input{
    height: 2rem;
    color: var(--alternateColor)
}
.input-list textarea{
    min-height: 4rem;
    max-height: 7rem;
    max-width: 30rem;
    min-width: 30rem;
    color: var(--alternateColor)
}
.input-list label{
    position: absolute;
    left: 0;
    opacity: .5;
    font-size: 1rem;
    font-weight: 600;
}
.input{
    
    top: 3rem;
    left: 20rem;
}
.message{
    top: 5rem;
}
.btn-2{
    width: 220px;
    height: auto;
    font-size: 1.8em;
    text-align: center;
    border-radius: var(--borderRadius);
    background-color: #fff;
    margin-top: 3rem;
    font-weight: 600;
    border: 1.5px solid var(--alternateColor);
    padding: 1%;
    transition: all .5s;
    box-shadow: 0 3rem 7rem rgba(0, 0, 0, .3);
    color:var(--alternateColor);
}
.btn-2:hover{
    cursor: pointer;
}




/*Register page*/




.main-register{
    width: 100%;
    height: 100vh;
    background-color: var(--headingTextColor);
    display: flex;
    align-items: center;
    justify-content: center;
}
.register-heading{
    font-size: 2.5rem;
    font-weight: 600;
    color:var(--alternateColor);
}
.register-container{
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 3rem 7rem rgba(0, 0, 0, .2);
    border-radius: 10px;
    padding: 2rem 5rem;
}
.reg{
    margin: .5rem 0;
    width: 100%;
    background-color:transparent;
    border: none;
    border-bottom: .1rem solid var(--alternateColor);
    padding: .5rem .5rem .5rem 0;
    font-size:.9rem;
    opacity: .8;
    color:var(--alternateColor);
}
.frm{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
}
.reg-list{
    display: flex;
    align-items: center;
}
.btn-3{
    width: 180px;
    height: 55px;
    font-size: 1.5em;
    display: grid;
    padding: 0 10px;
    place-items: center;
    border-radius: var(--borderRadius);
    background-color: #fff;
    font-weight: 600;
    border: 1px solid var(--alternateColor);
    transition: all .5s;
    box-shadow: 0 3rem 7rem rgba(0, 0, 0, .3);
    color:var(--alternateColor);
    margin-top: 1.5rem;
}
.btn-3:hover{
    cursor: pointer;
}


/*Login page*/

.main-login{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: var(--headingTextColor);
    align-items: center;
    justify-content: center;
}
.login-container{
    width: 20%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 3rem 7rem rgba(0, 0, 0, .3);
    border-radius: var(--borderRadius);
}
.login-heading{
    text-align: center;
    font-size: 3rem;
    color: var(--alternateColor);
}
.login-input{
    margin-bottom: 1rem;
}
.log{
    border-bottom: .1rem solid var(--alternateColor);
    color: var(--alternateColor);
    font-size: 1rem;
    width: 100%;
}

.btn-4{
        width: 140px;
        height: 40px;
        font-size: 1.2em;
        display: grid;
        padding: 0 10px;
        place-items: center;
        border-radius: var(--borderRadius);
        background-color: #fff;
        font-weight: 600;
        border: 1px solid var(--alternateColor);
        transition: all .5s;
        color: var(--alternateColor);
        margin-top: 1rem;
}
.btn-4:hover{
    cursor: pointer;
}
.abeg{
    width: 100%;
    display: grid;
    place-items: center;
}

/* responsiveness */

@media screen and (max-width:500px) {
    .img-two{
        width: 150px;
        height: 150px;
    }
    .main-home{
        display: flex;
        flex-direction: column;
        padding: 0 2rem;
        height: 98vh;
        margin-top: 5rem;
    }
    .section-image{
        row-gap: 1rem;
        margin-bottom: 1rem;
    }
    .btn{
        width: 150px;
        height: 40px;
        font-size: 1.2rem;
        padding: 0 .5rem;
    }
    .footer{
        display: flex;
        flex-direction: column-reverse;
    }
    .copy{
        margin-bottom: 1rem;
        font-size: 1rem;
    }
    .socials i{
        font-size: 1.2rem;
    }
    .socials a{
        margin: .5rem;
    }
    .re{
        width: 50px;
        right: -6%;
    }
    .re:hover{
        scale: 1.3;
    }
    .ordered{
        display: flex;
        justify-content: space-evenly;
        column-gap: 1rem;
        margin-top: 3rem;
    }
    .list_heading{
        text-align: center;font-size: .8rem;
    }
    .list_heading ul{
        text-align: initial;
    }
    .unordered li{
        margin-bottom: .5rem;
    }
    .Header-home{
        padding: 0 20px;
        margin-bottom: 1rem;
    }
    .logo{
        font-size: 1.8rem;
    }
    .link a{
        font-size: .7rem;
        margin: .5rem;
    }
    .img-one{
        width: 20px;
        margin-top: .5rem;
    }
    .img-one:hover{
        scale: 1.2;
    }
    .section-about h2{
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
    .contact-container{
        width: 90%;
        height: 55%;
    }
    .btn-2{
        margin-left: 5%;
    }
    .contact-left{
        width:0;
        background:linear-gradient(rgba(10,10,10,.5),rgba(10,10,10,.9))
        ,url(img/sushi.jpg) center no-repeat;
        background-size:cover;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .contact-right{
        width: 100%;
    }
    .contact-heading{
        font-size: 2rem;
        position: absolute;
        top: 0;
        right: 32%;
        margin-top: 1rem;
    }
    form{
        margin-top: 3rem;
    }
    .enter{
        width: 270px;
        margin-left: 3%;
    }
    .input-list textarea{
        max-width: 270px;
        min-width: 270px;
    }
    .register-container{
        width: 85%;
        height: 85%;
        padding: 0 2rem;
    }
    .register-heading{
        margin-bottom: 0;
        margin-top: 1rem;
        font-size: 2rem;
    }
    .login-container{
        width: 90%;
        height: 60%;
    }
    .log{
        width: 90%;
    }
    .vv{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 3%
    }
}
@media screen and (min-width:501px) {
    .img-two{
        width: 200px;
        height: 200px;
    }
    .main-home{
        display: flex;
        flex-direction: column;
        padding: 0 2rem;
        height: 100vh;
        margin-top: 5rem;
       row-gap: 3rem;
    }
    .section-image{
        row-gap: 1rem;
        margin-bottom:2rem;
    }
    .btn{
        width: 150px;
        height: 40px;
        font-size: 1.2rem;
        padding: 0 .5rem;
    }
    .footer{
        display: flex;
        flex-direction: column-reverse;
    }
    .copy{
        margin-bottom: 1rem;
        font-size: 1.2rem;
    }
    .socials i{
        font-size: 1.4rem;
    }
    .socials a{
        margin: .5rem;
    }
    .re{
        width: 50px;
        right: -6%;
    }
    .re:hover{
        scale: 1.3;
    }
    .ordered{
        display: flex;
        justify-content: space-evenly;
        column-gap: 1rem;
        margin-top: 3rem;
    }
    .list_heading{
        text-align:left;
        font-size: 1rem;
    }
    .list_heading ul{
        text-align: initial;
    }
    .unordered li{
        margin-bottom: .5rem;
    }
    .Header-home{
        padding: 0 20px;
        margin-bottom: 1rem;
    }
    .logo{
        font-size: 3rem;
    }
    .link a{
        font-size: .9rem;
        margin: .5rem;
    }
    .img-one{
        width: 25px;
        margin-top: .5rem;
    }
    .img-one:hover{
        scale: 1.2;
    }
    .section-about h2{
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    .contact-container{
        width: 90%;
        height: 55%;
    }
    .btn-2{
        margin-left: 5%;
    }
    .contact-left{
        width: 50%;
    }
    .contact-right{
        width: 100%;
    }
    .contact-heading{
        font-size: 2rem;
        position: absolute;
        top: 0;
        right: 32%;
        margin-top: 1rem;
    }
    .enter{
        width: 270px;
        margin-left: 3%;
    }
    .input-list textarea{
        max-width: 270px;
        min-width: 270px;
    }
    form{
        margin-top: 3rem;
    }
    .register-container{
        width: 85%;
        height: 85%;
        padding: 0 2rem;
    }
    .register-heading{
        margin-bottom: 0;
        margin-top: 1rem;
        font-size: 2rem;
    }
    .login-container{
        max-width: 70%;
        height: 60%;
    }
    .log{
        width: 95%;
    }
    .vv{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 3%
    }
}
@media screen and (min-width: 550px) {
    .contact-container{
        width: 65%;
        height: 50%;
    }
    .btn-2{
        margin-left: 5%;
    }
    .contact-left{
        width: 0;
    }
    .contact-right{
        width: 100%;
    }
    .contact-heading{
        font-size: 2rem;
        position: absolute;
        top: 0;
        right: 32%;
        margin-top: 1rem;
    }
    .enter{
        width: 270px;
        margin-right: 100%;
    }
    .input-list textarea{
        max-width: 270px;
        min-width: 270px;
    }
    .register-container{
        width: 85%;
        height: 70%;
        
        padding: 0 2rem;
    }
}
@media screen and (min-width: 800px) {
    .main-home{
        display: flex;
        flex-direction: column;
        padding: 0 2rem;
        height: 98vh;
        margin-top: 5rem;
        row-gap: 10rem;
    }
    .ordered{
        display: flex;
        justify-content: space-evenly;
        column-gap: 1rem;
        margin-top: 10rem;
    }
    .logo{
        font-size: 4rem;
    }
    .link a{
        font-size: 1.2rem;
        margin: 1rem;
    }
    .img-one{
        width: 30px;
        margin-right:20px;
    }
    .img-one:hover{
        scale: 1.2;
    }
    .section-about h2{
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }
    .list_heading{
        text-align:left;
        font-size: 1.2rem;
    }
    .myself{
        font-size: 1.2rem;
        text-align: inherit;
    }
    .contact-right{
        width: 100%;
    }
    .contact-heading{
        font-size: 2rem;
        position: absolute;
        top: 0;
        right: 35%;
        margin-top: 1rem;
    }
    .contact-container{
        width: 60%;
        height: 45%;
        overflow-x: hidden;
    }
    .enter{
        width: 300px;
        margin-left: 3%;
    }
    .input-list textarea{
        max-width: 300px;
        min-width: 300px;
    }
    .login-container{
        width: 65%;
        height: 60%;
    }
    .log{
        width: 100%;
    }
    .Header-home{
        padding: 0 50px;
        margin-bottom: 1rem;
    }
}
@media screen and (min-width:1000px) {
    .login-container{
        width: 50%;
        height: 60%;
    }
    .img-two{
        width: 250px;
        height: 250px;
    }
    .re{
        width: 70px;
        right: -1%;
    }
    .main-home{
        display: flex;
        flex-direction: column;
        padding: 0 2rem;
        height: 98vh;
        margin-top: 5rem;
        row-gap: 5rem;
    }
    .img-one{
        width: 45px;
    }
    .btn-contanct-home{
        width: 210px;
        height: 60px;
        font-size: 1.5rem;
    }
    .logo{
        font-size: 5rem;
        font-family: 'Monoton', cursive;
        font-weight: var(--textWidthHeading);
        color: var(--alternateColor);
    }
    .link a{
        margin: 1rem;
        font-size: var(--normalfontSize);
    }
    .img-one{
        width: 50px;
    }
    .register-container{
        width: 50%;
        padding: 0 2rem;
    }
    .footer{
        background-color:#06212e;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100vw;
        height: 100px;

    }
    .socials i{
        font-size: 1.8rem;
    }
    .copy{
        font-size:1.4rem;
        display: flex;
        align-items: center;
        margin-top: 1.2rem;
        letter-spacing: .2rem;
     }
     .contact-right{
        width: 100%;
    }
    .contact-heading{
        font-size: 2.5rem;
        position: absolute;
        top: 0;
        right: 38%;
        margin-top: 1rem;
    }
    .contact-container{
        width: 60%;
        height: 45%;
        overflow-x: hidden;
    }
    .enter{
        width: 450px;
        margin-left: 3%;
    }
    .input-list textarea{
        max-width: 450px;
        min-width: 450px;
    }
}
@media screen and (min-width:1500px) {
    .contact-heading{
        font-size: 2.5rem;
        position: absolute;
        top: 0;
        right: 37%;
        margin-top: 1rem;
    }
    .contact-container{
        width: 42%;
        height: 45%;
    }
    .enter{
        width: 400px;
        margin-left: 3%;
    }
    .input-list textarea{
        max-width: 400px;
        min-width: 400px;
    }
    .register-container{
        width: 50%;
        height: 70%;
        padding: 0 2rem;
    }
    .login-container{
        width: 30%;
        height: 55%;
    }
    .log{
        width: 100%;
    }
    .main-home{
        height: 100%;
    }
    .section-image{
        margin-bottom: 10rem;
    }
}
@media screen and (min-width:1501px) {

    .contact-container{
         width: 60vw;
         height: 60%;
         display: flex;
         box-shadow: 0 3rem 7rem rgba(0, 0, 0, .2);
         border-radius: 10px;
    }
    .contact-left{
        width: 35%;
    }
    .contact-right{
        position: relative;
        width: 65%;
        background-color: var(--headingTextColor);
        padding: 2rem 10rem;
    }
    .contact-heading{
        position: relative;
        color: var(--alternateColor);
        font-weight: 600;
        font-family: 'Monoton', cursive;
        font-size: 4rem;
        margin-bottom: 2rem;
        margin-left: 50%;
    }
    .enter{
        width: 30rem;
        background-color:transparent;
        border: none;
        border-bottom: .1rem dashed var(--alternateColor);
        margin: 1rem 0;
        padding: .5rem .5rem .5rem 0;
        font-size:.9rem;
        opacity: .8;
    }
    .enter:focus{
        border-bottom-style: solid;
    }
    
    .input-list textarea{
        min-height: 4rem;
        max-height: 7rem;
        max-width: 30rem;
        min-width: 30rem;
        color: var(--alternateColor)
    }
    .main-home{
        width: 100vw;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
        padding:5rem;
    }
    .ordered{
        margin:  .8rem;
        flex-direction: column;
    }
    .section-image{
        align-items: center;
        row-gap: 3rem;
        align-self: center;
    }
    .img-two{
        width: 450px;
        height: 450px;
    }
    .re{
        width: 65px;
        padding:.7rem;
        bottom: 10%;
        right: 5%;
    }
    .re:hover{
        scale: 4;
    }
    .main-login{
        width: 100%;
        height: 100vh;
        display: flex;
        background-color: var(--headingTextColor);
        align-items: center;
        justify-content: center;
    }
    .login-container{
        width: 25%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        box-shadow: 0 3rem 7rem rgba(0, 0, 0, .3);
        border-radius: var(--borderRadius);
    }
    .login-input{
        margin-bottom: 1rem;
    }
    .log{
        border-bottom: .1rem solid var(--alternateColor);
        color: var(--alternateColor);
        font-size: 1rem;
        width: 100%;
    }
    
}

@media screen and (min-width:1900px) {
    .register-container{
        height: 76%;
    }
}